.product{
    .wrapper{
        @extend %container;
        .photos{
            width: 40%;
            .cover{
                @include cover(100%);
                background-color: $lightgray;
                img{
                    object-fit: contain;
                    scale: 0.8;
                }
            }
            .container{
                @extend %container;
                margin-top: 3.5%;
                .cover{
                    @include cover(31%);
                    width: 31%;

                }
            }
        }
        .product-info{
            width: 55%;
            h3{
                @include font(700);
                text-transform:capitalize;
            }
            .product-name{
                @extend %container;
                h1{
                    @include font(900);
                    text-transform: uppercase;
                    font-size: 36px;
                    &.price{
                        color: $orange;
                    }
                }
            }
            .description{
                @include font(400);
                color: $gray;
                text-align: justify;
                margin: 20px 0;
            }
            .settings{
                @extend %container;
                flex-wrap: wrap;
                .size,.color{
                    display: flex;
                    gap: 20px;
                    align-items: center;
                }
                .size{
                    p{
                        @include font(500);
                        text-transform: uppercase;
                        color: $gray;
                        cursor: pointer;
                        &.active{
                            border-bottom: 1px solid $black ;
                            cursor: pointer;
                        }
                    }
                }
                .color{
                    .circle-container{
                        width: 20px;
                        height: 20px;
                        @extend %container;
                        justify-content: center;
                        flex-direction: column;
                        .circle{
                            width: 18px;
                            height: 18px;
                            border-radius: 100%;
                            cursor: pointer;
                            &.active{
                                width: 14px;
                                height: 14px;
                                box-shadow: 0 0 3px 2px rgba($color: #000000, $alpha: 0.3);
                            }
                        }

                    }
                }
            }
            .product-card{
              padding: 30px;
              background-color: $white;
              box-shadow: 0 0 5px 3px rgba($color: #000000, $alpha: 0.05);
              margin-top: 20px;
              .counter-container{
                display: flex;
                align-items: center;
                gap: 20px;
           
              }
              .to-cart{
                @extend %container;
                justify-content: flex-end;
                margin-top: 40px;
                padding-bottom: 20px;
                .like{
                    width: 45px;
                    padding: 9px 0;
                    border: 1px solid $black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px ;
                    border-radius: 5px;
                }
                .btn{
                    background-color: $orange;
                    color: $white;
                    &:hover{
                        background-color: white;
                        color: $orange;
                    }
                }
              }
             
            }
        }
    }
    .share{
        width: 30%;
        margin-top: 31px;
        @extend %container;
        margin-bottom: 21px;
      }
      .categories{
        width: 40%;
        margin-top: 31px;
        @extend %container;
        margin-bottom: 21px;
        align-items: center;
       
        p{
            color: darkgray;
             @include font(400);
        font-size: 12px;
        }
      }
      .tags{
        width: 25%;
        margin-top: 31px;
        @extend %container;
        margin-bottom: 21px;
        align-items: center;
       
        p{
            color: darkgray;
             @include font(400);
        font-size: 12px;
        }
      }
      
}
.description{
    .wrapper{
        height: 183px;
        border: 1px solid $lightgray;
        margin-top: 50px;
        padding-bottom: 20px;
        nav{
            @extend %container;
            justify-content: space-between;
            align-items: center;
            width: 40%;
            margin: 40px auto;
            a{color: darkgray;
                font-size: 20px;
            &:hover{
                color: rgb(121, 120, 120);
            }}
        }
        .sample-text{
            @extend %container;
            justify-content: center;
            align-items: center;
            color: rgb(121, 120, 120);
            margin: 0 auto;
            p{
                font-size: 16px;
                width: 40%;
                text-align: center;
            }

        }
    }
}
.related-products{
    .wrapper{
        h2{
            @include font(400);
            margin-bottom: 42px;
        }
        .container{
            @extend %container;
            margin-bottom: 30px;
            .card{
                width: 31%;
                .cover{
                    @include cover(100%);
                    background-color:$lightgray;
                    img{
                        object-fit: contain;
                        z-index: 2;
                        scale: 0.7;
                    }
                    .scale{
                        scale: 0.8;
                    }
                    .scale-1{
                        top: 3%;
                        scale: 0.8;
                    }
                    .circle{
                        width: 60%;
                        height: 60%;
                        border-radius: 100%;
                        background-color: $white;
                        position: absolute;
                        z-index: 0;
                        top: 20%;
                        left: 20%;
                        z-index: 1;
                        
                    }
                }
}
        }
        .card-content{
          margin-top: 26px;
          @extend %container;
          justify-content: center;
          flex-direction: column;
          .price{
            margin-top: 10px;
          }
        }
    }
}