a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, body {
  margin: 0;
}

input[type=button] {
  border: none;
  background-color: transparent;
}

input[type=text] {
  border: none;
  outline: none;
  background-color: transparent;
}

#blue {
  background-color: #0085FF;
}

#black {
  background-color: #000;
}

#pink {
  background-color: #EF5DA8;
}

#orange {
  background-color: #ff2200;
}

.page-title, .order .wrapper .payment-container .check-order .text-container, .order .wrapper .payment-container, .order .wrapper form .container, .cart-total .wrapper .check .container, .basket .wrapper .options, .basket .wrapper .table-cart .table-product, .basket .wrapper .table-cart .table-description, .related-products .wrapper .card-content, .related-products .wrapper .container, .description .wrapper .sample-text, .description .wrapper nav, .product .tags, .product .categories, .product .share, .product .wrapper .product-info .product-card .to-cart, .product .wrapper .product-info .settings .color .circle-container, .product .wrapper .product-info .settings, .product .wrapper .product-info .product-name, .product .wrapper .photos .container, .product .wrapper, .cards .wrapper .container, .category .wrapper .container, .main .wrapper, header .wrapper .nav-container, header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn.orange {
  border: 1px solid #ff2200;
  color: #ff2200;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 10px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 33%;
  border-radius: 5px;
}
.btn.orange:hover {
  border: 1px solid #ff2200;
  color: #ff2200;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 10px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 33%;
  border-radius: 5px;
  background-color: #ff2200;
  color: #fff;
  cursor: pointer;
}
.btn.white {
  border: 1px solid #fff;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 10px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 33%;
  border-radius: 5px;
}
.btn.white:hover {
  border: 1px solid #fff;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 10px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 33%;
  border-radius: 5px;
  background-color: #fff;
  color: #fff;
  cursor: pointer;
  color: #ff2200;
}

header {
  padding: 30px 0;
}
header .wrapper .logo {
  display: flex;
  align-items: baseline;
}
header .wrapper .logo .ellipse {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #ff2200;
}
header .wrapper .logo h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 36px;
}
header .wrapper .nav-container .nav-links a {
  color: #000;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-right: 20px;
}
header .wrapper .nav-container .nav-icons {
  padding-left: 20px;
  border-left: 2px solid lightgray;
}
header .wrapper .nav-container .nav-icons svg:first-child {
  margin-right: 16px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  margin-bottom: 60px;
}

.main {
  background-color: #ff2200;
}
.main .wrapper .block {
  width: 45%;
}
.main .wrapper .block .cover {
  position: relative;
  width: 100%;
  padding-top: 75%;
}
.main .wrapper .block .cover img, .main .wrapper .block .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .wrapper .block .cover img {
  transform: scaleX(-1);
}
.main .wrapper .block h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  font-size: 48px;
  margin-bottom: 20px;
}

.category .wrapper .container:first-child {
  margin-bottom: 3.5%;
}
.category .wrapper .container .category-card {
  width: 31%;
}
.category .wrapper .container .category-card .category-card {
  width: 31%;
  transition: 0.2s;
  cursor: pointer;
}
.category .wrapper .container .category-card .category-card:hover scale img {
  filter: saturate(0);
}
.category .wrapper .container .category-card .category-card:hover h2 {
  text-shadow: 4px 4px 1px #ff2200;
}
.category .wrapper .container .category-card .cover {
  position: relative;
  width: 100%;
  padding-top: 100%;
}
.category .wrapper .container .category-card .cover img, .category .wrapper .container .category-card .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.category .wrapper .container .category-card .cover h2 {
  position: absolute;
  z-index: 1;
  top: 40%;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 36px;
  color: #fff;
  text-shadow: 1px 1px 1px #ff2200;
  text-align: center;
  width: 100%;
}
.category .wrapper .container .category-card:hover img {
  filter: saturate(0);
}
.category .wrapper .container .category-card:hover h2 {
  text-shadow: 4px 4px 1px #ff2200;
}
.category .wrapper .container .category-card.big {
  width: 65.5%;
}
.category .wrapper .container .category-card.big .cover {
  position: relative;
  width: 100%;
  padding-top: 47.4%;
}
.category .wrapper .container .category-card.big .cover img, .category .wrapper .container .category-card.big .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards .products {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cards .products h2 {
  margin-top: 70px;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 40px;
}
.cards .products .as {
  margin-bottom: 35px;
}
.cards .products .as a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #000;
  margin-right: 15px;
}
.cards .products .as a:hover {
  color: #ff2200;
  border-bottom: 2px #ff2200 solid;
  padding-bottom: 8px;
}
.cards .wrapper .container {
  margin-bottom: 30px;
}
.cards .block-button {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.cards .block-button .btn {
  background-color: #ff2200;
  color: #fff;
  width: 200px;
  padding: 15px;
}
.cards .block-button .btn:hover {
  background-color: #fff;
  color: #ff2200;
}

.card {
  width: 31%;
}
.card .cover {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-color: #e3e3e3;
}
.card .cover img, .card .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .cover img {
  object-fit: contain;
  z-index: 2;
  scale: 0.7;
}
.card .cover .scale {
  scale: 0.8;
}
.card .cover .scale-1 {
  top: 3%;
  scale: 0.8;
}
.card .cover .circle {
  width: 60%;
  height: 60%;
  border-radius: 100%;
  background-color: #fff;
  position: absolute;
  z-index: 0;
  top: 20%;
  left: 20%;
  z-index: 1;
}
.card .card-content {
  padding-top: 30px;
}
.card .card-content h3, .card .card-content p {
  text-align: center;
}
.card h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 12px;
}
.card p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

footer {
  background-color: lightgray;
}
footer .wrapper .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .wrapper .container h2 {
  margin-top: 70px;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}
footer .wrapper .container p {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
}
footer .wrapper .container .email {
  display: flex;
  position: relative;
}
footer .wrapper .container .email input[type=email] {
  width: 700px;
  padding: 8px 40px;
  outline: none;
}
footer .wrapper .container .email .letter {
  position: absolute;
  top: 8px;
  left: 10px;
}
footer .wrapper .container .email .square {
  width: 30px;
  padding: 8px;
  background-color: red;
  position: relative;
}
footer .wrapper .container .email .square .telegram {
  position: absolute;
  left: 15px;
}

.gallery {
  margin-top: 200px;
  display: flex;
}
.gallery .photo {
  width: 15.6%;
  position: relative;
  width: 100%;
  padding-top: 15%;
}
.gallery .photo img, .gallery .photo .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contacts {
  padding: 100px;
  display: flex;
  justify-content: space-between;
}
.contacts .container-1 {
  width: 30%;
}
.contacts .container-1 .logo {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
}
.contacts .container-1 .logo .ellipse {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #ff2200;
}
.contacts .container-1 .logo h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 36px;
}
.contacts .container-1 p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.309);
}
.contacts .container-2 {
  width: 30%;
  margin-left: 100px;
}
.contacts .container-2 h3 {
  font-size: 28px;
  margin-bottom: 20px;
}
.contacts .container-2 .cont-cont {
  display: flex;
  flex-direction: row;
}
.contacts .container-2 .cont-cont .small-cont {
  display: flex;
  flex-direction: column;
  width: 26%;
}
.contacts .container-2 .cont-cont .small-cont:last-child {
  margin-left: 50px;
}
.contacts .container-2 .cont-cont .small-cont a {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.309);
  margin-bottom: 10px;
}
.contacts .container-3 {
  width: 30%;
}
.contacts .container-3 h3 {
  font-size: 28px;
  margin-bottom: 20px;
}
.contacts .container-3 p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.309);
  margin-bottom: 10px;
}
.contacts .container-3 .adress {
  margin-bottom: 10px;
  display: flex;
}
.contacts .container-3 .adress svg {
  margin-right: 8px;
}
.contacts .container-3 .cont-image {
  margin-left: -25px;
}

.product .wrapper .photos {
  width: 40%;
}
.product .wrapper .photos .cover {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-color: #e3e3e3;
}
.product .wrapper .photos .cover img, .product .wrapper .photos .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product .wrapper .photos .cover img {
  object-fit: contain;
  scale: 0.8;
}
.product .wrapper .photos .container {
  margin-top: 3.5%;
}
.product .wrapper .photos .container .cover {
  position: relative;
  width: 100%;
  padding-top: 31%;
  width: 31%;
}
.product .wrapper .photos .container .cover img, .product .wrapper .photos .container .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product .wrapper .product-info {
  width: 55%;
}
.product .wrapper .product-info h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
.product .wrapper .product-info .product-name h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 36px;
}
.product .wrapper .product-info .product-name h1.price {
  color: #ff2200;
}
.product .wrapper .product-info .description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #939393;
  text-align: justify;
  margin: 20px 0;
}
.product .wrapper .product-info .settings {
  flex-wrap: wrap;
}
.product .wrapper .product-info .settings .size, .product .wrapper .product-info .settings .color {
  display: flex;
  gap: 20px;
  align-items: center;
}
.product .wrapper .product-info .settings .size p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #939393;
  cursor: pointer;
}
.product .wrapper .product-info .settings .size p.active {
  border-bottom: 1px solid #000;
  cursor: pointer;
}
.product .wrapper .product-info .settings .color .circle-container {
  width: 20px;
  height: 20px;
  justify-content: center;
  flex-direction: column;
}
.product .wrapper .product-info .settings .color .circle-container .circle {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  cursor: pointer;
}
.product .wrapper .product-info .settings .color .circle-container .circle.active {
  width: 14px;
  height: 14px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
}
.product .wrapper .product-info .product-card {
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
  margin-top: 20px;
}
.product .wrapper .product-info .product-card .counter-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.product .wrapper .product-info .product-card .to-cart {
  justify-content: flex-end;
  margin-top: 40px;
  padding-bottom: 20px;
}
.product .wrapper .product-info .product-card .to-cart .like {
  width: 45px;
  padding: 9px 0;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 5px;
}
.product .wrapper .product-info .product-card .to-cart .btn {
  background-color: #ff2200;
  color: #fff;
}
.product .wrapper .product-info .product-card .to-cart .btn:hover {
  background-color: white;
  color: #ff2200;
}
.product .share {
  width: 30%;
  margin-top: 31px;
  margin-bottom: 21px;
}
.product .categories {
  width: 40%;
  margin-top: 31px;
  margin-bottom: 21px;
  align-items: center;
}
.product .categories p {
  color: darkgray;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.product .tags {
  width: 25%;
  margin-top: 31px;
  margin-bottom: 21px;
  align-items: center;
}
.product .tags p {
  color: darkgray;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.description .wrapper {
  height: 183px;
  border: 1px solid #e3e3e3;
  margin-top: 50px;
  padding-bottom: 20px;
}
.description .wrapper nav {
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin: 40px auto;
}
.description .wrapper nav a {
  color: darkgray;
  font-size: 20px;
}
.description .wrapper nav a:hover {
  color: rgb(121, 120, 120);
}
.description .wrapper .sample-text {
  justify-content: center;
  align-items: center;
  color: rgb(121, 120, 120);
  margin: 0 auto;
}
.description .wrapper .sample-text p {
  font-size: 16px;
  width: 40%;
  text-align: center;
}

.related-products .wrapper h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 42px;
}
.related-products .wrapper .container {
  margin-bottom: 30px;
}
.related-products .wrapper .container .card {
  width: 31%;
}
.related-products .wrapper .container .card .cover {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-color: #e3e3e3;
}
.related-products .wrapper .container .card .cover img, .related-products .wrapper .container .card .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.related-products .wrapper .container .card .cover img {
  object-fit: contain;
  z-index: 2;
  scale: 0.7;
}
.related-products .wrapper .container .card .cover .scale {
  scale: 0.8;
}
.related-products .wrapper .container .card .cover .scale-1 {
  top: 3%;
  scale: 0.8;
}
.related-products .wrapper .container .card .cover .circle {
  width: 60%;
  height: 60%;
  border-radius: 100%;
  background-color: #fff;
  position: absolute;
  z-index: 0;
  top: 20%;
  left: 20%;
  z-index: 1;
}
.related-products .wrapper .card-content {
  margin-top: 26px;
  justify-content: center;
  flex-direction: column;
}
.related-products .wrapper .card-content .price {
  margin-top: 10px;
}

.basket .wrapper .table-cart {
  border: 1px solid #939393;
}
.basket .wrapper .table-cart .table-description {
  padding: 20px 0;
  border: 1px solid #939393;
}
.basket .wrapper .table-cart #first {
  width: 45%;
}
.basket .wrapper .table-cart #second, .basket .wrapper .table-cart #third, .basket .wrapper .table-cart #fourth {
  width: 15%;
}
.basket .wrapper .table-cart #fifth {
  width: 10%;
}
.basket .wrapper .table-cart p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  color: #505050;
}
.basket .wrapper .table-cart .table-product {
  padding-top: 20px;
}
.basket .wrapper .table-cart .table-product:last-child {
  padding-bottom: 20px;
}
.basket .wrapper .table-cart .table-product #first {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.basket .wrapper .table-cart .table-product #first p {
  text-align: left;
}
.basket .wrapper .table-cart .table-product #first .product-desc {
  margin-left: -20px;
}
.basket .wrapper .table-cart .table-product #first .product-desc .settings {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
.basket .wrapper .table-cart .table-product #first .product-desc .settings .ellipse {
  width: 16px;
  height: 16px;
  border-radius: 100%;
}
.basket .wrapper .table-cart .table-product #first .product-desc .settings .size {
  font-weight: 700;
  font-size: 18px;
}
.basket .wrapper .table-cart .table-product .delete {
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s;
}
.basket .wrapper .table-cart .table-product .delete:hover {
  color: #ff2200;
}
.basket .wrapper .options {
  margin-top: 30px;
}
.basket .wrapper .options .clear {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #505050;
  text-transform: capitalize;
  font-size: 14px;
}
.basket .wrapper .options .update {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 14px;
  text-decoration: underline;
}

.cart-total .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cart-total .wrapper .btn.orange {
  width: 15%;
  margin-top: 20px;
}
.cart-total .wrapper .check {
  padding: 25px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
  width: 35%;
}
.cart-total .wrapper .check h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.cart-total .wrapper .check .container {
  margin-bottom: 15px;
}
.cart-total .wrapper .check .container:nth-child(4) {
  margin-bottom: 30px;
}
.cart-total .wrapper .check .container:last-child {
  margin-bottom: 0;
  padding-top: 20px;
  border-top: 1px solid #939393;
}
.cart-total .wrapper .check .container p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}
.cart-total .wrapper .check .container p.subtotal {
  color: #505050;
}
.cart-total .wrapper .check .container p.shipping {
  text-transform: uppercase;
  font-weight: 700;
}
.cart-total .wrapper .check .container p.calculated {
  text-transform: uppercase;
  text-decoration: underline;
}
.cart-total .wrapper .check .container p.total {
  font-weight: 700;
}

.order .wrapper .checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.order .wrapper .checkbox-container .checkbox {
  width: 16px;
  height: 16px;
  background-color: #e3e3e3;
  border: 1px solid #939393;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order .wrapper .checkbox-container .checkbox svg {
  display: none;
}
.order .wrapper .checkbox-container .checkbox.checked {
  background-color: #fff;
}
.order .wrapper .checkbox-container .checkbox.checked svg {
  display: inline-block;
}
.order .wrapper .checkbox-container span {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}
.order .wrapper h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
.order .wrapper h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 30px;
}
.order .wrapper form {
  border-bottom: 1px solid #939393;
}
.order .wrapper form h2 {
  margin-bottom: 40px;
}
.order .wrapper form input {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #939393;
  margin-bottom: 20px;
}
.order .wrapper form input:last-child {
  margin-bottom: 0;
}
.order .wrapper form input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: #000;
}
.order .wrapper form .container {
  margin-bottom: 20px;
}
.order .wrapper form .container input {
  width: 48%;
  margin-bottom: 0;
}
.order .wrapper form h3 {
  margin: 30px 0 10px;
}
.order .wrapper form textarea {
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  height: 80px;
}
.order .wrapper .payment-container {
  align-items: start;
  margin-top: 30px;
}
.order .wrapper .payment-container .check-order {
  width: 48%;
}
.order .wrapper .payment-container .check-order h2 {
  margin-bottom: 40px;
}
.order .wrapper .payment-container .check-order .text-container {
  padding-bottom: 10px;
  border-bottom: 1px dashed;
}
.order .wrapper .payment-container .check-order .text-container p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #939393;
  text-transform: capitalize;
}
.order .wrapper .payment-container .check-order .text-container p:first-child {
  padding-left: 20px;
}
.order .wrapper .payment-container .check-order .text-container p:last-child {
  padding-right: 10px;
}
.order .wrapper .payment-container .check-order .text-container p.bold {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.order .wrapper .payment-container .check-order .text-container:not(:first-child) {
  margin-top: 10px;
}
.order .wrapper .payment-container .check-order .text-container:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.order .wrapper .payment-container .payment {
  width: 48%;
}
.order .wrapper .payment-container .payment h2 {
  margin-bottom: 30px;
}
.order .wrapper .payment-container .payment-card {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  padding: 15px 15px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.order .wrapper .payment-container .payment-card p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #939393;
  font-size: 14px;
  text-align: justify;
}
.order .wrapper .btn-container {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}
.order .wrapper .btn-container .btn.orange {
  width: 20%;
}

.page-title {
  flex-direction: column;
  background-color: #ff2200;
  padding: 40px 0;
  color: #fff;
}
.page-title h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 14px;
}
.page-title a, .page-title span {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  font-size: 16px;
}

.counter {
  display: flex;
  border: 1px solid #939393;
  border-radius: 5px;
  align-items: center;
  width: fit-content;
}
.counter .plus, .counter .minus {
  padding: 5px 10px;
}
.counter .plus:hover, .counter .minus:hover {
  background-color: #ff2200;
  cursor: pointer;
  transition: 0.4s;
  color: #fff;
}
.counter .minus {
  border-radius: 4px 0 0 4px;
}
.counter .plus {
  border-radius: 0px 4px 4px 0px;
}
.counter p, .counter .plus, .counter .minus {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.counter p {
  width: 55px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
