a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, body {
  margin: 0;
}

.btn {
  border: none;
  background-color: transparent;
}

input[type=text] {
  border: none;
  outline: none;
  background-color: transparent;
}

.cards .wrapper .container, .category .wrapper .container, .main .wrapper, header .wrapper .nav-container, header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn.orange {
  border: 1px solid #ff2200;
  color: #ff2200;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 10px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 33%;
  border-radius: 5px;
}
.btn.orange:hover {
  border: 1px solid #ff2200;
  color: #ff2200;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 10px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 33%;
  border-radius: 5px;
  background-color: #ff2200;
  color: #fff;
  cursor: pointer;
}
.btn.white {
  border: 1px solid #fff;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 10px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 33%;
  border-radius: 5px;
}
.btn.white:hover {
  border: 1px solid #fff;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 10px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 33%;
  border-radius: 5px;
  background-color: #fff;
  color: #fff;
  cursor: pointer;
  color: #ff2200;
}

header {
  padding: 30px 0;
}
header .wrapper .logo {
  display: flex;
  align-items: baseline;
}
header .wrapper .logo .ellipse {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #ff2200;
}
header .wrapper .logo h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 36px;
}
header .wrapper .nav-container .nav-links a {
  color: #000;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-right: 20px;
}
header .wrapper .nav-container .nav-icons {
  padding-left: 20px;
  border-left: 2px solid lightgray;
}
header .wrapper .nav-container .nav-icons svg:first-child {
  margin-right: 16px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  margin-bottom: 60px;
}

.main {
  background-color: #ff2200;
}
.main .wrapper .block {
  width: 45%;
}
.main .wrapper .block .cover {
  position: relative;
  width: 100%;
  padding-top: 75%;
}
.main .wrapper .block .cover img, .main .wrapper .block .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .wrapper .block .cover img {
  transform: scaleX(-1);
}
.main .wrapper .block h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  font-size: 48px;
  margin-bottom: 20px;
}

.category .wrapper .container:first-child {
  margin-bottom: 3.5%;
}
.category .wrapper .container .category-card {
  width: 31%;
}
.category .wrapper .container .category-card .category-card {
  width: 31%;
  transition: 0.2s;
  cursor: pointer;
}
.category .wrapper .container .category-card .category-card:hover scale img {
  filter: saturate(0);
}
.category .wrapper .container .category-card .category-card:hover h2 {
  text-shadow: 4px 4px 1px #ff2200;
}
.category .wrapper .container .category-card .cover {
  position: relative;
  width: 100%;
  padding-top: 100%;
}
.category .wrapper .container .category-card .cover img, .category .wrapper .container .category-card .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.category .wrapper .container .category-card .cover h2 {
  position: absolute;
  z-index: 1;
  top: 40%;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 36px;
  color: #fff;
  text-shadow: 1px 1px 1px #ff2200;
  text-align: center;
  width: 100%;
}
.category .wrapper .container .category-card:hover img {
  filter: saturate(0);
}
.category .wrapper .container .category-card:hover h2 {
  text-shadow: 4px 4px 1px #ff2200;
}
.category .wrapper .container .category-card.big {
  width: 65.5%;
}
.category .wrapper .container .category-card.big .cover {
  position: relative;
  width: 100%;
  padding-top: 47.4%;
}
.category .wrapper .container .category-card.big .cover img, .category .wrapper .container .category-card.big .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards .products {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cards .products h2 {
  margin-top: 70px;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 40px;
}
.cards .products .as {
  margin-bottom: 35px;
}
.cards .products .as a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #000;
  margin-right: 15px;
}
.cards .products .as a:hover {
  color: #ff2200;
  border-bottom: 2px #ff2200 solid;
  padding-bottom: 8px;
}
.cards .wrapper .container {
  margin-bottom: 30px;
}
.cards .wrapper .container .card {
  width: 31%;
}
.cards .wrapper .container .card .cover {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-color: #e3e3e3;
}
.cards .wrapper .container .card .cover img, .cards .wrapper .container .card .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cards .wrapper .container .card .cover img {
  object-fit: contain;
  z-index: 2;
  scale: 0.7;
}
.cards .wrapper .container .card .cover .scale {
  scale: 0.8;
}
.cards .wrapper .container .card .cover .scale-1 {
  top: 3%;
  scale: 0.8;
}
.cards .wrapper .container .card .cover .circle {
  width: 60%;
  height: 60%;
  border-radius: 100%;
  background-color: #fff;
  position: absolute;
  z-index: 0;
  top: 20%;
  left: 20%;
  z-index: 1;
}
.cards .wrapper .container .card .card-content {
  padding-top: 30px;
}
.cards .wrapper .container .card .card-content h3, .cards .wrapper .container .card .card-content p {
  text-align: center;
}
.cards .wrapper .container .card h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 12px;
}
.cards .wrapper .container .card p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
}
.cards .block-button {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.cards .block-button .btn {
  background-color: #ff2200;
  color: #fff;
  width: 200px;
  padding: 15px;
}
.cards .block-button .btn:hover {
  background-color: #fff;
  color: #ff2200;
}

footer {
  background-color: lightgray;
}
footer .wrapper .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .wrapper .container h2 {
  margin-top: 70px;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}
footer .wrapper .container p {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
}
footer .wrapper .container .email {
  display: flex;
  position: relative;
}
footer .wrapper .container .email input[type=email] {
  width: 700px;
  padding: 8px 40px;
  outline: none;
}
footer .wrapper .container .email .letter {
  position: absolute;
  top: 8px;
  left: 10px;
}
footer .wrapper .container .email .square {
  width: 30px;
  padding: 8px;
  background-color: red;
  position: relative;
}
footer .wrapper .container .email .square .telegram {
  position: absolute;
  left: 15px;
}

.gallery {
  margin-top: 200px;
  display: flex;
}
.gallery .photo {
  width: 15.6%;
  position: relative;
  width: 100%;
  padding-top: 15%;
}
.gallery .photo img, .gallery .photo .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contacts {
  padding: 100px;
  display: flex;
  justify-content: space-between;
}
.contacts .container-1 {
  width: 30%;
}
.contacts .container-1 .logo {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
}
.contacts .container-1 .logo .ellipse {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #ff2200;
}
.contacts .container-1 .logo h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 36px;
}
.contacts .container-1 p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.309);
}
.contacts .container-2 {
  width: 30%;
  margin-left: 100px;
}
.contacts .container-2 h3 {
  font-size: 28px;
  margin-bottom: 20px;
}
.contacts .container-2 .cont-cont {
  display: flex;
  flex-direction: row;
}
.contacts .container-2 .cont-cont .small-cont {
  display: flex;
  flex-direction: column;
  width: 26%;
}
.contacts .container-2 .cont-cont .small-cont:last-child {
  margin-left: 50px;
}
.contacts .container-2 .cont-cont .small-cont a {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.309);
  margin-bottom: 10px;
}
.contacts .container-3 {
  width: 30%;
}
.contacts .container-3 h3 {
  font-size: 28px;
  margin-bottom: 20px;
}
.contacts .container-3 p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.309);
  margin-bottom: 10px;
}
.contacts .container-3 .adress {
  margin-bottom: 10px;
  display: flex;
}
.contacts .container-3 .adress svg {
  margin-right: 8px;
}
.contacts .container-3 .cont-image {
  margin-left: -25px;
}

/*# sourceMappingURL=style.css.map */
