<section class="cards">
    <div class="products">
        <h2>Our products</h2>
        <div class="as">
        <a href="#">All</a>
        <a href="#">Boys fashion</a>
        <a href="#">Girls fashion</a>
        <a href="#">Accesories</a>
    </div>
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="card">
              <a href="./assets/pages/product.html">  <div class="cover">
                    <img src="./assets/img/t-shirt.png" alt="">
                    <div class="circle"></div>
                </div>
                <div class="card-content">
                    <h3>Super scarf ultra</h3>
                    <p class="price">$45</p>
                </div>
            </div></a>
            <div class="card">
                <div class="cover">
                    <img class="scale" src="./assets/img/glasses.png" alt="">
                    <div class="circle"></div>
                </div>
                <div class="card-content">
                    <h3>Super scarf ultra</h3>
                    <p class="price">$45</p>
                </div>
            </div>
            <div class="card">
                <div class="cover">
                    <img src="./assets/img/scarf.png" alt="">
                    <div class="circle"></div>
                </div>
                <div class="card-content">
                    <h3>Super scarf ultra</h3>
                    <p class="price">$45</p>
                </div>
            </div>
            
        </div>
        <div class="container">
            <div class="card">
                <div class="cover">
                    <img src="./assets/img/bikerhoodie.png" alt="">
                    <div class="circle"></div>
                </div>
                <div class="card-content">
                    <h3>Super scarf ultra</h3>
                    <p class="price">$45</p>
                </div>
            </div>
            <div class="card">
                <div class="cover">
                    <img class="scale" src="./assets/img/coat.png" alt="">
                    <div class="circle"></div>
                </div>
                <div class="card-content">
                    <h3>Super scarf ultra</h3>
                    <p class="price">$45</p>
                </div>
            </div>
            <div class="card">
                <div class="cover">
                    <img class="scale-1" src="./assets/img/hat.png" alt="">
                    <div class="circle"></div>
                </div>
                <div class="card-content">
                    <h3>Super scarf ultra</h3>
                    <p class="price">$45</p>
                </div>
            </div>
        </div>
       <div class="block-button"> <input type="button" value="View all products" class="btn orange"></div>
    </div>
</section>